# PHP
alias art="php artisan"
alias mfs='php artisan migrate:fresh --seed'
alias nah='git reset --hard;git clean -df'

alias fix="[[ -f vendor/bin/pint ]] && vendor/bin/pint || { [[ -f vendor/bin/php-cs-fixer ]] && vendor/bin/php-cs-fixer fix || php-cs-fixer fix }"
alias analyse="vendor/bin/phpstan analyse"
alias pest="vendor/bin/pest"
alias ..="cd .."
alias tailscale="/Applications/Tailscale.app/Contents/MacOS/Tailscale"

# Random
alias uuid="uuidgen | tr -d '\n' | tr '[:upper:]' '[:lower:]' | pbcopy && pbpaste && echo"

# New career
alias part="kubectl run artisan-$(uuidgen | tr 'A-Z' 'a-z') -i --tty --rm --overrides='{\"spec\":{\"containers\":[{\"name\":\"georizon\",\"image\":\"ghcr.io/360-geo/georizon:latest\",\"envFrom\":[{\"configMapRef\":{\"name\":\"georizon-env\"}},{\"secretRef\":{\"name\":\"georizon-secrets\"}}]}],\"serviceAccount\":\"georizon\"}}' --image-pull-policy=Always -- php artisan"

# Fast open
alias o="open ."

# List all files colorized in long format
alias l="ls -laF"

# Show/hide hidden files in Finder
alias show="defaults write com.apple.finder AppleShowAllFiles -bool true && killall Finder"
alias hide="defaults write com.apple.finder AppleShowAllFiles -bool false && killall Finder"

# IP addresses
alias ip="curl https://ipinfo.io/ip ; echo"
alias localip="ifconfig -a | grep -o 'inet6\? \(addr:\)\?\s\?\(\(\([0-9]\+\.\)\{3\}[0-9]\+\)\|[a-fA-F0-9:]\+\)' | awk '{ sub(/inet6? (addr:)? ?/, \"\"); print }'"

# Flush Directory Service cache
alias flushdns="sudo dscacheutil -flushcache; sudo killall -HUP mDNSResponder"

# Empty the Trash on all mounted volumes and the main HDD
# Also, clear Apple’s System Logs to improve shell startup speed
alias emptytrash="sudo rm -rfv /Volumes/*/.Trashes; sudo rm -rfv ~/.Trash; sudo rm -rfv /private/var/log/asl/*.asl"

# Enable aliases to be sudo’ed
alias sudo='sudo '
